<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seoul.ddroad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity android:name=".intro.IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intro.PermissionActivity" />
        <activity android:name=".MainActivity"
            android:theme="@style/NoTile01"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4oG50dxooInZ2ueURq-7XvPNOrLvgqf4" />

        <activity android:name=".diary.DiaryActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".diary.DiaryRegActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".diary.DiaryActivity" />
        </activity>
        <activity android:name=".diary.DetailActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".diary.DiaryActivity" />
        </activity>
        <activity android:name=".board.BoardActivity" />
    </application>

</manifest>